<html>
    <head>
      <script language="javascript" type="text/javascript" src="/javascripts/jquery.js"></script>
      <style type="text/css">
        div.footer{
            width: 99%;
            position: absolute;
            bottom: 0vh;
            height: 13vh;
            background-color: #585858;
        }

        div.content_with_footer{
           width: 100%;
           padding: 2vh 0.8vw 0vh 0.8vw;
           margin-left: auto;
           margin-right: auto;
           font-family: arial;
           height: 85vh;
        }

        div.grouping{
            height:75vh;
            border: 1px solid #000000;
            border-radius: 15px;
            padding-top: 1vh;
            font-size: 170%;
            background-color: #F0F0F0 ;
            margin-top: 1vh;
        }

        div.option{
            border: 0px solid black;
            border-bottom-width: 1px;
            width: 98%;
            font-size: 130%;
            margin-left: auto;
            margin-right: auto;
            padding-top: 1vh;
            padding-bottom: 1vh;
        }
        div.circle{
            background-color: #ffffff;
            margin-left: 60%;
            margin-top: 1vh;
            margin-bottom: 1vh;
            width: 200px;
            height: 200px;
            border-radius: 50%;
            border: 1px solid blue;
        }
        button{
            height: 10vh;
            font-size: 180%;
            margin-top: 2vh;
            margin-left: 1vw;
            margin-right: 1vw;
            font-family: arial;
        }
      </style>

      <script type="text/javascript">
            function send(){
                jQuery.ajax({
                    url:  "/people/update",
                    data: data[indexed],
                    dataType: 'json',
                    type:"POST",
                    success: function(msg){

                    },
                    error: function(){
                        alert("Could not create site", "Unsuccessful!");
                    }

                });

            }
      </script>
    </head>

    <body style="padding: 0px;width: 98%;">
        <div class="content_with_footer">
           <span style="font-size: 250%;">Select Patient From The Following List<br></span>
           <div class="grouping" style="float: left;width: 39%;padding-left: 1%;">
             First Name:<span id="first_name"></span> <br>
             Last Name :<span id="last_name"></span> <br>
             DOB:<span id="age"></span> <br>
             National ID : <span id="npid"></span><br>
             Current Residence : <span id="c_residence"></span><br>
             <div class="circle" id="gender">

             </div>
             Current Village :<span id="c_village"></span> <br>
             Current T/A : <span id= "c_ta"></span><br>
             Current District : <span id="c_district"></span> <br>
             Home Village : <span id="h_village"></span> <br>
             Home T/A : <span id="h_ta"></span> <br>
             Home District : <span id=h_district></span> <br>
           </div>
          <div id="options" class="grouping" style="float: right;width: 58%;">

          </div>
        </div>

        <div class="footer">
          <button style="float: left; width: 10vw;" >Cancel</button>
          <button style="float: right;width: 15vw;" onclick="send()">Select Patient</button>
        </div>
    </body>

    <script type="text/javascript">
      <!--
        var data = {};
        var index = 0;
        var indexed = 0;
        var content = document.getElementById("options");
        <% (@matching_records || []).each do |record| %>
        data[index] = {"person_attributes":{
            "citizenship": '<%=record['person_attributes']['citizenship'] rescue ''%>',
            "occupation": '<%= record['person_attributes']['occupation'] rescue ''%>',
            "home_phone_number": '<%= record['person_attributes']['home_phone_number'] rescue ''%>',
            "cell_phone_number": '<%= record['person_attributes']['cell_phone_number'] rescue ''%>',
            "race": '<%= record['person_attributes']['race'] rescue ''%>'
        },
            "gender": '<%= record['gender'] rescue ''%>',
            "names": {
                "given_name": '<%= record['names']['given_name'] rescue ''%>',
                "family_name": '<%= record['names']['family_name'] rescue ''%>'
            },
            "birthdate": '<%= record['birthdate'] rescue ''%>',
            "addresses":{
                "current_residence": '<%= record['addresses']['current_residence'] rescue '' %>',
                "current_village": '<%= record['addresses']['current_village'] rescue '' %>',
                "current_ta": '<%= record['addresses']['current_ta'] rescue '' %>',
                "current_district": '<%= record['addresses']['current_district'] rescue '' %>',
                "home_village": '<%= record['addresses']['home_village'] rescue '' %>',
                "home_ta": '<%= record['addresses']['home_ta'] rescue '' %>',
                "home_district": '<%= record['addresses']['home_district'] rescue '' %>'
            },
            "npid": '<%= record["_id"] rescue '' %>'
        }

        var option = document.createElement("div");
        option.innerHTML = data[index]['names']['given_name'] + " " + data[index]['names']['family_name'];
        option.innerHTML = option.innerHTML + " , " + data[index]['npid']+ " , " + data[index]["gender"];
        option.innerHTML = option.innerHTML + " , " + data[index]['addresses']['home_ta'];
        option.setAttribute("class", 'option');
        option.setAttribute("onClick", 'selected('+index+')');
        content.appendChild(option);
        index +=1;
        <% end %>
        selected(indexed);

        function selected(index){
            indexed = index;
            document.getElementById("first_name").innerHTML = data[index]['names']['given_name'];
            document.getElementById("last_name").innerHTML = data[index]['names']['family_name'];
            document.getElementById("age").innerHTML = data[index]['birthdate'];
            document.getElementById("npid").innerHTML = data[index]['npid'];
            document.getElementById("c_residence").innerHTML = data[index]['addresses']['current_residence'];
            document.getElementById("c_village").innerHTML = data[index]['addresses']['current_village'];
            document.getElementById("c_ta").innerHTML = data[index]['addresses']['current_ta'];
            document.getElementById("h_village").innerHTML = data[index]['addresses']['home_village'];
            document.getElementById("h_ta").innerHTML = data[index]['addresses']['home_ta'];
            document.getElementById("h_district").innerHTML = data[index]['addresses']['home_district'];
            document.getElementById("c_district").innerHTML = data[index]['addresses']['current_district'];
        }
       //-->
    </script>
</html>
