<style type="text/css">
  td {
    padding: 10px !important;
  }
  select,
  textarea,
  input {
    width: 70% !important;
    float: left !important;
  }
  button {
    margin: 10px !important;
  }
</style>

<div class="container theme-showcase" role="main">
  <div class="jumbotron head">
    <h2>Connection::Addition</h2>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Add DDE Sync Connection</h3>
    </div>
    <div class="panel-body">
      
      <%= form_tag('/administration/connection_create', method: 'post', enctype: 'multipart/form-data', 
          id: 'site-form', class: "form-horizontal", autocomplete: "off", role: "form", novalidate: "novalidate") do %>
      
          <div class="form-control-group">
            <table style="width: 100%;">
              <tr>
                <td align="right" style="width: 20%">
                  <label class="control-label">Source Site Code:</label>&nbsp;&nbsp;&nbsp;
                </td>
                <td>
                  <select id="source" name="source" class="form-control" placeholder="Source" required="" >
                    <option value="">[ - Select source site code - ]</option>
                    
                    <% @sitecodes.each do |code| %>
                    
                      <option value="<%= code[0] %>"><%= "#{code[0]} (#{code[1]})" %></option>
                    
                    <% end %>
                    
                  </select>
                </td>
              </tr>
            </table>
          </div>
          <div class="form-control-group">
            <table style="width: 100%;">
              <tr>
                <td align="right" style="width: 20%">
                  <label class="control-label">Sink Site Code:</label>&nbsp;&nbsp;&nbsp;
                </td>
                <td>
                  <select id="sink" name="sink" class="form-control" placeholder="Region" required="" >
                    <option value="">[ - Select sink site code - ]</option>
                    
                    <% @sitecodes.each do |code| %>
                    
                      <option value="<%= code[0] %>"><%= "#{code[0]} (#{code[1]})" %></option>
                    
                    <% end %>
                    
                  </select>
                </td>
              </tr>
            </table>
          </div>       
          
          <table style="width: 100%;">
            <tr>
              <td style="width: 20%;">
                  <button type="button" class="btn btn-danger" style="font-size: 18px !important; float: left;" onclick="window.location = '/'">Cancel</button>
              </td>
              <td>
                  <button type="submit" class="btn btn-success btn-large" style="font-size: 18px !important; float: right;">Save Connection</button>
              </td>
            </tr>
          </table>
          
          <div class="form-control-group">
            <table style="width: 100%;">
              <tr>
                <td align="right" style="width: 20%; vertical-align: top;">
                  <label class="control-label">Connections Mapping:</label>&nbsp;&nbsp;&nbsp;
                </td>
                <td>
                  <iframe id="map" style="border: 1px dotted #999; padding: 0px; text-align: center; width: 70%; overflow: hidden !important; height: 720px;" src="/sync_map"></iframe>
                </td>
              </tr>
            </table>
          </div> 
          
      <% end %>
      
    </div>
  </div>
</div>

<script defer="true">
  
  function prettyPrint(){
    $(document).ready(function(){
      
		    $('#site-form').validate({		    
	        rules: {
            sink: {
              required: true,
              remote: {
                url: "/check_site_code",
                type: "get",
                data: {
                  source: function() {
                    return $( "#source" ).val();
                  },
                  sink: function() {
                    return $( "#sink" ).val();
                  }
                }
              }
            }
          },
			    highlight: function(element) {
				    $(element).closest('.control-group').removeClass('success').addClass('error');
			    },
			    success: function(element) {
				    element
				    .text('OK!').addClass('valid')
				    .closest('.control-group').removeClass('error').addClass('success');
			    }
	      });

    }); // end document.ready
  }
  
  $(document).ready(function(){
      
		  $('#site-form').validate({		    
	      rules: {
          sink: {
            required: true,
            remote: {
              url: "/check_duplicate_connections",
              type: "get",
              data: {
                source: function() {
                  return $( "#source" ).val();
                },
                sink: function() {
                  return $( "#sink" ).val();
                }
              }
            }
          }
        },
			  highlight: function(element) {
				  $(element).closest('.control-group').removeClass('success').addClass('error');
			  },
			  success: function(element) {
				  element
				  .text('OK!').addClass('valid')
				  .closest('.control-group').removeClass('error').addClass('success');
			  }
	    });

  }); // end document.ready
  
  addEventListener('load', prettyPrint, false);
	$(document).ready(function(){
	  $('pre').addClass('prettyprint linenums');
	});
</script>
