<style type="text/css">
  #status th {
    padding: 2px !important;
    border: 1px solid #999 !important;
    text-align: center !important;
    color: #333 !important;
    background-color: #ccc !important;
  }
  #status td {
    padding: 2px !important;
    border: 1px solid #ccc !important;
    text-align: center !important;
  }
</style>

<form novalidate="novalidate" id="site-form" class="form-horizontal" role="form" method="post" action="/assign_npids_to_region" autocomplete="off">

  <div class="container theme-showcase" role="main">
    <div class="jumbotron head">
      <h2>Region::View</h2>
      <div class="form-control-group" style="float: right; margin-top: -45px; margin-right: -55px; width: 300px;">
        <select id="region" name="region" class="form-control" placeholder="Region" required="" onchange="switchRegion(this.value)" style="width: 90%; float: left" >
          <option value="">[ - Select site region in Malawi - ]</option>
          <option value="Centre">Central Region</option>
          <option value="North">Northern Region</option>
          <option value="South">Southern Region</option>
        </select>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
          NPID Distribution By Regional Sites
        </h3>
      </div>
      <div class="panel-body">
        <div style="float: left; width: 50%;">
          <iframe id="map" style="border: 1px dotted #999; padding: 0px; text-align: center; width: 100%; overflow: hidden !important; height: 710px;" src="/map?region"></iframe>
        </div>
      
        <div class="row" style="float: right; width: 48%; height: 710px; margin-right: 8px; oveflow: auto;">
          <div class="panel panel-primary">
            <div class="panel-heading">
              <h3 class="panel-title" id="section">&nbsp;</h3>
            </div>
            <div class="panel-body" style="height: 425px; overflow: auto;">
              <div class="row" style="width: 100%;">
                <div class="col-sm-4" style="width: 100%;">
                  <ul class="list-group" id="sites" style="width: 100%;">
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="panel panel-primary">
            <div class="panel-heading">
              <h3 class="panel-title" id="section">Region NPID Status</h3>
            </div>
            <div class="panel-body" style="height: 53px; overflow: hidden; padding: 1px !important;">
              
              <table width="100%" id="status">
                <tr>
                  <th>
                    Sites
                  </th>
                  <th>
                    Allocated
                  </th>
                  <th>
                    Assigned
                  </th>
                  <th>
                    Available
                  </th>
                  <th>
                    Status
                  </th>
                </tr>
                <tr>
                  <td id="region_sites">
                    &nbsp;
                  </td>
                  <td id="region_allocated">
                    &nbsp;
                  </td>
                  <td id="region_assigned">
                    &nbsp;
                  </td>
                  <td id="region_available">
                    &nbsp;
                  </td>
                  <td id="region_status">
                    &nbsp;
                  </td>
                </tr>
              </table>
            </div>
          </div>   
          <div class="panel panel-primary" style="">
            <div class="panel-heading">
              <h3 class="panel-title" id="npidassignments">Region NPIDs Assignment</h3>
            </div>
            <div class="panel-body" style="height: 70px; overflow: hidden; padding: 1px !important;">
              
                
                <div class="form-control-group">
                
                  <table style="margin-top: 5px; margin-left: 10px; width: 95%;">
                    <tr>
                      <td style="text-align: right !important; vertical-align: top; padding-top: 6px;">
                        NPIDs Quantity to Assign:&nbsp;
                      </td>
                      <td>
                        <input type="text" id="quantity" name="quantity" value="" class="form-control" required="" digits=true />
                      </td>
                      <td style="vertical-align: top;">
                        <button type="submit" class="btn btn-success btn-large" 
                            style="font-size: 14px !important; float: right; vertical-align: top;">Assign NPIDs</button>
                      </td>
                    </tr>
                  </table>
                
                </div>
                
            </div>
          </div>           
      </div>    
    </div>
  </div>

</form>

<script type="text/javascript">
  <!--
      
  var sites = {
      "Centre":{
        "data":[],
        allocated: "<%= @sites["Centre"][:allocated] %>",
        assigned: "<%= @sites["Centre"][:assigned] %>",
        available: "<%= @sites["Centre"][:available] %>",
        unassigned: "<%= @sites["Centre"][:unassigned] %>",
        status: null        
      },
      "North":{
        "data":[],
        allocated: "<%= @sites["North"][:allocated] %>",
        assigned: "<%= @sites["North"][:assigned] %>",
        available: "<%= @sites["North"][:available] %>",
        unassigned: "<%= @sites["North"][:unassigned] %>",
        status: null        
      },
      "South":{
        "data":[],
        allocated: "<%= @sites["South"][:allocated] %>",
        assigned: "<%= @sites["South"][:assigned] %>",
        available: "<%= @sites["South"][:available] %>",
        unassigned: "<%= @sites["South"][:unassigned] %>",
        status: null        
      }
    };
  
  <% @sites.each do |region, sites| %>
    
    <% sites[:data].each do |site| %>
    
      sites["<%= region %>"]["data"].push(
        {
          "sitecode":"<%= site[:sitecode] %>",
          "name":"<%= site[:name] %>",
          "count":"<%= site[:count] %>",
          "threshold":"<%= site[:threshold] %>",
          "batchsize":"<%= site[:batchsize] %>",
          "region":"<%= site[:region] %>",
          "x":"<%= site[:x] %>",
          "y":"<%= site[:y] %>"
        }
      );
    
    <% end %>
    
  <% end %>
      
  function prettyPrint(){
    $(document).ready(function(){
      
		    $('#site-form').validate({		    
	        rules: {},
			    highlight: function(element) {
				    $(element).closest('.control-group').removeClass('success').addClass('error');
			    },
			    success: function(element) {
				    element
				    .text('OK!').addClass('valid')
				    .closest('.control-group').removeClass('error').addClass('success');
			    }
	      });

    }); // end document.ready
  }
  
  $(document).ready(function(){
      
		  $('#site-form').validate({		    
	      rules: {
          sitecode: {
            required: true,
            remote: {
              url: "/check_site_code",
              type: "post",
              data: {
                sitecode: function() {
                  return $( "#sitecode" ).val();
                }
              },
              error: "Site code already taken"
            }
          }
        },
			  highlight: function(element) {
				  $(element).closest('.control-group').removeClass('success').addClass('error');
			  },
			  success: function(element) {
				  element
				  .text('OK!').addClass('valid')
				  .closest('.control-group').removeClass('error').addClass('success');
			  }
	    });

  }); // end document.ready
  
  function switchRegion(region){
    document.getElementById("section").innerHTML = "&nbsp;";
    document.getElementById("sites").innerHTML = "&nbsp;";
    $("#region_sites")[0].innerHTML = "";
    document.getElementById("npidassignments").innerHTML = "&nbsp;";
    
    if(region.trim().length == 0){
      document.getElementById("map").setAttribute("src", "/map?region");
      return;
    } else {    
      document.getElementById("map").setAttribute("src", "/region/" + region.trim());
      
      switch(region.trim().toLowerCase()){
        case "centre":
          document.getElementById("section").innerHTML = "Central Region Sites Summaries (" + sites["Centre"]["data"].length + ")";
          document.getElementById("npidassignments").innerHTML = "Assign NPIDs to Central Region";
          break;
        case "north":
          document.getElementById("section").innerHTML = "Northern Region Sites Summaries (" + sites["North"]["data"].length + ")";
          document.getElementById("npidassignments").innerHTML = "Assign NPIDs to Northern Region";
          break;
        case "south":
          document.getElementById("section").innerHTML = "Southern Region Sites Summaries (" + sites["South"]["data"].length + ")";
          document.getElementById("npidassignments").innerHTML = "Assign NPIDs to Southern Region";
          break;
      }
      
      $("#region_sites")[0].innerHTML = sites[region.trim()]["data"].length;
      
      $("#region_allocated")[0].innerHTML = sites[region.trim()]["allocated"];
      
      $("#region_assigned")[0].innerHTML = sites[region.trim()]["assigned"];
      
      $("#region_available")[0].innerHTML = sites[region.trim()]["available"];
      
      $("#region_status")[0].innerHTML = sites[region.trim()]["status"];
      
      for(var site in sites[region.trim()]["data"]){
      
        var li = document.createElement("li");
        li.className = "list-group-item";
        li.innerHTML = '<h4 class="list-group-item-heading">' + sites[region.trim()]["data"][site]["name"] + 
          '</h4><p class="list-group-item-text"><b>Available:</b> ' + sites[region.trim()]["data"][site]["count"] + 
              "; <b>BatchSize:</b> " + sites[region.trim()]["data"][site]["batchsize"] + 
              "; <b>Threshold:</b> " + sites[region.trim()]["data"][site]["threshold"] + ";";
      
        document.getElementById("sites").appendChild(li);
      }
    }
  }
   
  addEventListener('load', prettyPrint, false);
	$(document).ready(function(){
	  $('pre').addClass('prettyprint linenums');
	});
	
  switchRegion(document.getElementById("region").value); 
    
  //-->
</script>
