<!DOCTYPE html>
<html>
<head>
  <title>DDE2</title>
  <%#= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%#= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <!-- Bootstrap core CSS -->
  <link href="/bootstrap/css/bootstrap.css" rel="stylesheet">
  <link href="/bootstrap/css/bootstrap-theme.css" rel="stylesheet">
  <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <style type="text/css">
    body {
      padding-top: 50px;
      -moz-user-select: none;
    }
    .starter-template {
      padding: 40px 15px;
      text-align: center;
    }
    form .alert,
	  form .process
	  {
	      display: none;
	  }
	 
    /*@import url('/bootstrap/css/bootstrap.min.css');
    @import url('/bootstrap/css/bootstrap.css');*/
    /* New styles */

    label.valid {
	    width: 24px;
	    height: 24px;
	    background: url(/images/valid.png) center center no-repeat;
	    display: inline-block;
	    text-indent: -9999px;
    }
    label.error {
	    font-weight: bold;
	    color: red;
	    padding: 2px 8px;
	    margin-top: 2px;
    }
    
    .head {
      padding-top: 15px !important;
      padding-bottom: 18px !important;
    }
  </style>
</head>
<body>

  <% if (CONFIG["mode"] == "master" rescue false) %>

    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" >Demographics Data Exchange</a>
        </div>
        
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <%unless session[:user_id].blank? %>
            <li><a href="/">Home</a></li>
            <li class="dropdown">
              <a href="/administration/region_show" class="dropdown-toggle">Regions Management</b></a>
            </li>
            <li><a href="/administration/site_show">View site(s)</a></li>
            <%if User.current.admin?%> 
              <li><a href="/user/settings">Administration</a></li>
            <%else%>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">User Management <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="/user/settings?id=editpassword">Change password</a></li>
              </ul>
            </li>
            <%end%>
           <li><a href="/user/logout">Signout</a></li>
          </ul>
          <%end%>
        </div><!--/.nav-collapse -->
      </div>
    </div>

    <!-- /.container -->

  <% else %>

    
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" >Demographics Data Exchange</a>
        </div>
        
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li class="dropdown">
              <a href="#about" class="dropdown-toggle" data-toggle="dropdown">About <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li class="divider"></li>
                <li class="dropdown-header">Nav header</li>
                <li><a href="#">Separated link</a></li>
                <li><a href="#">One more separated link</a></li>
              </ul>
            </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

    <div class="container">

      <div class="starter-template">
        <h1>Proxy Mode</h1>
        <p class="lead">Operating in Proxy Mode.</p>
      </div>

    </div><!-- /.container -->


  <% end %>

  <% if !flash[:notice].nil? %>
    
    <script type="text/javascript">
      <!--
      
      setTimeout("alert('<%= flash[:notice] %>')", 500);
      
      //-->
    </script>
    
  <% elsif !flash[:error].nil? %>
    
    <script type="text/javascript">
      <!--
      
      setTimeout("alert('<%= flash[:error] %>')", 10);
      
      //-->
    </script>
    
  <% end %>
  
  <!-- Bootstrap core JavaScript
  ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="/javascripts/jquery.js"></script>
  <script src="/bootstrap/js/bootstrap.js"></script>
  <script src="/javascripts/jquery.validate.js"></script>
  
  <%= yield %>
  
  <div class="navbar  navbar-inverse navbar-fixed-bottom" style="min-height: 30px !important; 
      color: #ccc !important; text-align: center !important; padding-top: 5px !important;">
        &copy; <%= Date.today.strftime("%Y") %> <a href="http://www.baobabhealth.org" target="_blank">
          Baobab Health Trust</a> with funding from Centres For Disease Control(CDC)
  </div>
</body>
</html>
